params {
    cond1 = 'WT'  // Default condition 1
    cond2 = 'D0'  // Default condition 2
    object = 'path/to/object'   // Path to the Seurat object (default is empty)
    cond_colname = 'stage' //column name of the conditions in the seurat metadate
    batch_colname = 'name' //column name of the batch  in the seurat metadate
    annotation = 'anno' //column name of the annotation in the seurat metadate
    input_dir = 'path/to/input'
    stat = 't_stat'
    geneID = 'GeneID'
}
