params {
    cond1 = 'WT'  // Default condition 1
    cond2 = 'D0'  // Default condition 2
    object = ''   // Path to the Seurat object (default is empty)
    cond_colname = '' //column name of the conditions in the seurat metadate
    annotation = '' //column name of the annotation in the seurat metadate
}
